/* Apple SD Gothic Neo */

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url("~/assets/font/applesdgothicneo/AppleSDGothicNeoEB.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("~/assets/font/applesdgothicneo/AppleSDGothicNeoB.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("~/assets/font/applesdgothicneo/AppleSDGothicNeoM.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("~/assets/font/applesdgothicneo/AppleSDGothicNeoL.woff2") format("woff2");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

/* Poppins */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url("~/assets/font/poppins/Poppins-ExtraBold.woff2") format("woff2");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("~/assets/font/poppins/Poppins-Bold.woff2") format("woff2");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("~/assets/font/poppins/Poppins-Medium.woff2") format("woff2");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("~/assets/font/poppins/Poppins-Light.woff2") format("woff2");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}
